html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: /*url*/('icons/old_paper.jpg') no-repeat 0 0;
   /*background-size: cover*/
}
/*.map-wrapper {
  background: url(http://placekitten.com/1500/1500) no-repeat 0 0;
  background-size: cover;
}*/

/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/
/* #wrapper {
  position: relative;
  height: 100%;
  width: 100%;
} */

#festival-map {
  position: absolute;
	height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-right-width: 2px;
  border-right-color: #ffffff;
  border-right-style: solid;
  border-left-width: 2px;
  border-left-color: #ffffff;
  border-left-style: solid;
}

#over-map {
  /* z-index: 99; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -125px;
  width: 250px;
  height: 350px; */
}
#cboxOverlay{
  z-index: 98;
  cursor: pointer;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

/* .centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;

} */
.pop_up_box_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: inline;
}

.custom-pin {
  background-image: url('js/gmaps-marker-clusterer-master/images/cm1.png');
  background-repeat: no-repeat;
  background-size: 50px;
  /*height: 1em;*/
  /*line-height: 1;*/
  /*width: 1em;*/
  width: 50px;
  height: 50px;
  padding-top: 1.1em;
  /*padding-right: 21px;*/
  text-align: center;
  cursor: pointer;
  color: #FEF9E2;
  /*background-color: black;*/
  position: absolute;
  z-index: 10;
  /*border-radius: .5em;*/
  font-size: 15px;
  /*font-weight: bold;*/
  /*transition: all 500ms;*/
}

/* .custom-pin::after {
    content: '';
    border-width: 1em .5em;
    border-color: black transparent transparent transparent;
    border-style: solid;
    position: absolute;
    top: 99%;
    left: calc(50% - .5em);
}*/

.custom-pin:hover {
    transform: scale(1.15);

}


/* BEER INFO MODAL */

.no-border {
  border: none;
}
.modal-close-btn {
    position: absolute;
    right: 10px;
    font-size: 2.0rem;
    top: 5px;
}

.modal-img {
  max-width: 250px;
  width: 100%
}
.pin-size {
  width: 200px;
  height: 200px;
}

.beer-size {
  width: 25%;
}

.padding-inherit {
  padding: inherit;
}

.intro {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 100%;
  line-height: 45px;
  color: #636363;
}
.intro strong {

  font-weight: bold;
      color: #eaa728bd;
      font-size: 25px;
}

.intro-modal {
  border: none;
  background-color: transparent;
}

.no-padding {
  padding: 0;
}

.thumbnail {
  /* font-weight: bold; */
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
}

.centered-brewery {

    position: absolute;
    /* top: 45%; */
    top: 90%;
    color: #3e4840;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-bottle {

    position: absolute;
    top: 45%;
    /* top: 90%; */
    /* color: #3e4840; */
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {

    position: absolute;
    top: 45%;
    /* top: 90%; */
    /* color: #3e4840; */
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-center {
  top: 90%;
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 60%;
}

.controls {
  padding-bottom: 20px;
  display: block;
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 20%;
}

/* ******************** SEARCH BOX ********************************/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
/* ****************************************************************/
